<div style="
    background-color: bisque;
    padding-bottom: 3rem;
">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <img src="assets/images/logo_varejo.png">
    <a href="#" class="navbar-brand"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- César Romagnolo</a>
    <div class="navbar-nav mr-auto">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a routerLink="milkboxes" class="btn btn-info" role="button">Lista de Produtos</a>
        </li>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <li class="nav-item">
          <a routerLink="add" class="btn btn-info" role="button">Cadastrar Produtos</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
