<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Procurar pelo Nome"
        [(ngModel)]="nome"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchNome()"
        >
          Buscar
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h4>Lista de Produtos</h4>
    <ul class="list-group">
      <li

        class="list-group-item"
        *ngFor="let milkbox of milkboxes | slice: pageSize | slice: 0:itemsPerPage; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveMilkbox(milkbox, i)"
      >
        {{ milkbox.nome }}
      </li>
    </ul>
    <div class="col-5 input-group-addon">
      <ngb-pagination [collectionSize]="500" [pageSize]="itemsPerPage" [(page)]="currentPage" (pageChange)="onPageChange(currentPage)"></ngb-pagination>
    </div>

    <button class="m-3 btn btn-sm btn-danger" (click)="removeAllMilkBoxes()">
      Remove All
    </button>
  </div>
  <div class="col-md-6">
    <div *ngIf="currentMilkbox">
      <h4>Produtos (caixa de leite)</h4>
      <div>
        <label><strong>Código:</strong></label> {{ currentMilkbox.codigo }}
      </div>
      <div>
        <label><strong>Nome:</strong></label>
        {{ currentMilkbox.nome }}
      </div>

      <a class="badge badge-warning" routerLink="/milkboxes/{{ currentMilkbox.id }}">
        Editar
      </a>
      <a class="badge badge-danger" routerLink="/milkboxes/{{ currentMilkbox.id }}">
        Excluir
      </a>
    </div>

    <div *ngIf="!currentMilkbox">
      <br />
      <p>Clique em um produto...</p>
    </div>
  </div>
</div>
