<div>
  <div *ngIf="addedItem" id="addAlert" #alert class="alert alert-success alert-dismissible fade show" role="alert">
    <button type="button" class="close" aria-label="Close" (click)="closeAlert('added-item')">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong>ADICIONADO!</strong> Item adicionado com sucesso, <b>FECHE PARA VOLTAR</b> ou <span class="badge bg-success" style="cursor: pointer" (click)="newMilkbox()">Adicione Outro</span>
  </div>
  <div  *ngIf="!submitted" class="container-fluid">
    <div class="row justify-content-center">
      <div class=" col-lg-6 col-md-8">
        <div class="card p-3">
          <div class="row justify-content-center">
            <div class="col-12">
              <h2 class="heading text-center">Adicionar Produto</h2>
            </div>
          </div>
          <form class="form-card">
            <div class="submit-form">
              <div>
                <div class="form-group">
                  <label for="codigo">Codigo</label>
                  <input
                    type="text"
                    class="form-control"
                    id="codigo"
                    required
                    [(ngModel)]="milkBox.codigo"
                    name="codigo"
                  />
                </div>

                <div class="form-group">
                  <label for="nome">Nome</label>
                  <input
                    class="form-control"
                    id="nome"
                    required
                    [(ngModel)]="milkBox.nome"
                    name="nome"
                  />
                </div>

                <button (click)="saveMilkBox()" class="btn btn-info">Enviar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

