<div>
  <div *ngIf="addedItem" id="addAlert" #alert class="alert alert-success alert-dismissible fade show" role="alert">
    <button type="button" class="close" aria-label="Close" (click)="closeAlert('added-item')">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong>ADICIONADO!</strong> item adicionado com sucesso, feche para ser redirecionado.<br>
    <button class="btn btn-success" (click)="newMilkbox()">Adicionar Outro</button>
  </div>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="codigo">Codigo</label>
        <input
          type="text"
          class="form-control"
          id="codigo"
          required
          [(ngModel)]="milkBox.codigo"
          name="codigo"
        />
      </div>

      <div class="form-group">
        <label for="nome">Nome</label>
        <input
          class="form-control"
          id="nome"
          required
          [(ngModel)]="milkBox.nome"
          name="nome"
        />
      </div>

      <button (click)="saveMilkBox()" class="btn btn-success">Enviar</button>
    </div>

    <div *ngIf="submitted">
      <h4>Caixa de Leite adicionado com sucesso!</h4>

    </div>
  </div>
</div>
