<div class="container-fluid">
  <div class="row justify-content-center">
    <div class=" col-lg-6 col-md-8">
      <div class="card p-3">
        <div class="row justify-content-center">
          <div class="col-12">
            <h2 class="heading text-center">Editar Produto</h2>
          </div>
        </div>
        <form>
          <div class="form-group">
            <label for="title">Código</label>
            <input
              type="text"
              class="form-control"
              id="title"
              [(ngModel)]="currentMilkbox.codigo"
              name="codigo"
            />
          </div>
          <div class="form-group">
            <label for="description">Nome</label>
            <input
              type="text"
              class="form-control"
              id="description"
              [(ngModel)]="currentMilkbox.nome"
              name="description"
            />
          </div>
          <button type="submit" (click)="updateMilkbox()" class="btn btn-info">Atualizar</button>
          <p>{{ message }}</p>
        </form>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!dataLoaded" class="loaderLayer">
  <br />
  <div id="content">
    <div class="">
      <div class="spinner-grow text-primary" role="status"></div>
      <div class="spinner-grow text-info" role="status"></div>
      <div class="spinner-grow text-danger" role="status"></div>
    </div>
    <br>
  </div>
</div>
