<div>
  <div *ngIf="currentMilkbox.id" class="edit-form">
    <h4>Tutorial</h4>
    <form>
      <div class="form-group">
        <label for="title">Código</label>
        <input
          type="text"
          class="form-control"
          id="title"
          [(ngModel)]="currentMilkbox.codigo"
          name="codigo"
        />
      </div>
      <div class="form-group">
        <label for="description">Nome</label>
        <input
          type="text"
          class="form-control"
          id="description"
          [(ngModel)]="currentMilkbox.nome"
          name="description"
        />
      </div>
    </form>


    <button class="badge badge-danger mr-2" (click)="deleteMilkbox()">
      Deletar
    </button>

    <button
      type="submit"
      class="badge badge-success mb-2"
      (click)="updateMilkbox()"
    >
      Atualizar
    </button>
    <p>{{ message }}</p>
  </div>

  <div *ngIf="!currentMilkbox.id">
    <br />
    <p><span class="sr-primary">Acessando Produto...</span></p>
      <div class="spinner-grow text-primary" role="status"></div>
      <div class="spinner-grow text-info" role="status"></div>
      <div class="spinner-grow text-dark" role="status"></div>
  </div>
</div>
