<div>
  <div *ngIf="currentMilkbox.id" class="edit-form">
    <h4>Tutorial</h4>
    <form>
      <div class="form-group">
        <label for="title">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          [(ngModel)]="currentMilkbox.codigo"
          name="codigo"
        />
      </div>
      <div class="form-group">
        <label for="description">Nome</label>
        <input
          type="text"
          class="form-control"
          id="description"
          [(ngModel)]="currentMilkbox.nome"
          name="description"
        />
      </div>
    </form>


    <button class="badge badge-danger mr-2" (click)="deleteMilkbox()">
      Deletar
    </button>

    <button
      type="submit"
      class="badge badge-success mb-2"
      (click)="updateMilkbox()"
    >
      Update
    </button>
    <p>{{ message }}</p>
  </div>

  <div *ngIf="!currentMilkbox.id">
    <br />
    <p>Cannot access this Tutorial...</p>
  </div>
</div>
